<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>167425101513-iol1cqq5uo1fj7v5a9oeam4l4v0j7k0i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.167425101513-iol1cqq5uo1fj7v5a9oeam4l4v0j7k0i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>167425101513-11ot506s3jmbafh6iknj5lk817r1sfi7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBru1VrSLKkEvbvoU9z0gh6bOuHGXGMgAg</string>
	<key>GCM_SENDER_ID</key>
	<string>167425101513</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.nevo.appkel</string>
	<key>PROJECT_ID</key>
	<string>appkel-f1140</string>
	<key>STORAGE_BUCKET</key>
	<string>appkel-f1140.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:167425101513:ios:9e4a65bbf09dfb98bcc718</string>
</dict>
</plist>